html.taifeel-mode {

    --border_color: #202020;
    
    --primary: #1c1c1c;

    --secondary: #1ed760;
    --secondary-hover: #1db954;
    --secondary-opacity-half: #1db954;
    --secondary-hover-opacity: #1db954;
    --secondary-disabled: #158b3f;

    --item: #141414;
}
