#titlebar-main{
    background-color: var(--item) !important;
    border-bottom: solid 1px var(--border_color) !important;

}

#titlebar{
    border-bottom: solid 2px var(--border_color) !important;

    background-color: var(--item) !important;
}

.songs-list, .wrapper{
    background-color: var(--item);
    border-radius: 10px;
    border: 1px solid var(--border_color);
}

.song{
    border-radius: 10px !important;
}

.song.playing{
    background-color: #101010 !important;
}

input{
    border-radius: 10px !important;
}

.song:hover{
    background-color: #262626 !important;
}

#playing-playlist-cover{
    width: 25px !important;
    height: 25px !important;
}

#player-container-song-cover{
    width: 45px !important;
    height: 45px !important;
}

.navigation-item.active{
    border: 2px solid var(--secondary) !important;
}

.context-menu{
    border: 2px solid var(--secondary);
}

#artist-page-content-top-cover-main-buttons .solid-button{
    padding: 0 !important;
}

.solid-button{
    border-radius: 20px !important;
}

#artist-page-content-top-cover-main-name{
    font-weight: 700 !important;
}

#discover-nav{
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.navigation-item:hover{
    border: 2px solid var(--secondary) !important;
}

.navigation-item{
    border-bottom: 0;
    border: 2px solid transparent !important;
    transition: border .2s ease-in !important;
    background-color: var(--item);
    border-radius: 10px;
}

#left-container.expand .nav-item-link{
    border-radius: 10px;
}

#left-container.expand .nav-item-link .icon{
    margin-right: auto;
    position: absolute;
}

#left-container.expand .nav-item-link{
    padding-left: 10px;
}

#left-container.expand .nav-item-link-text{
    margin-left: auto;
    margin-right: auto;
}

.song-cover-image, .song-cover .song-cover-nocover{
    width: 35px !important;
    height: 35px !important;
}

#discover-nav, html.acryl #discover-nav.fixed{
    background-color: #1c1c1c !important;
}

#artist-info{
    border: 1px solid var(--border_color);
    width: 98%;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
    background-color: var(--item);
}

.context-menu{
    display: block !important;
    visibility: visible !important;
}

.expansion-panel-answer .selected{
    border: 2px solid #FFF;
}

.color-theme-selected{
    display: none;
}

.color-theme-primary, .color-theme-primary-color{
    border-radius: 100% !important;
}

.color-theme-primary{
    width: 20px !important;
    height: 20px !important;
}

.app-button:hover{
    background-color: var(--border_color) !important;
}

#titlebar-buttons-app .close:hover{
    background-color: #910000 !important;
}


#modal-window-settings-tab-appearance-themes-folders{
    justify-content: center;
}


.modal-window-settings-category-label{
    text-align: center;
}

#modal-window-settings-tab-appearance-themes .expansion-panel:last-child{
    margin-bottom: 0;
}

.expansion-panel-question{
    justify-content: center !important;
}

.custom-list-text{
    text-align: center;
}

.color-theme-header__name{
    font-size: 15px;
}